<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz Maker</title>

    <!-- update the version number as needed -->
    <script defer src="/__/firebase/4.13.0/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/4.13.0/firebase-auth.js"></script>
    <script defer src="/__/firebase/4.13.0/firebase-database.js"></script>
    <script defer src="/__/firebase/4.13.0/firebase-messaging.js"></script>
    <script defer src="/__/firebase/4.13.0/firebase-storage.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
    <script src="../Model/firebase.js"></script>
    <!-----Bootstrap----->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../Style/QuizStyle.css">
</head>

    <body>
        <div class="wrapper">
            <h1>Quiz Maker</h1>
        </div>
        
        <div class="wrapper">
                <div id="quiz"></div>
                <button id="save">Save</button>
                <button id="add">Add</button>
                <div id="results"></div>
        </div>

        <script src="../Model/Model.js" type="text/javascript" ></script>
        <script src="../Controller/Controller.js" type="text/javascript" ></script>
        <script src="../Model/StudentModel.js" type="text/javascript" ></script>
    </body>
</html>
